:root {
  --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --dist-small: 0.15rem;
  --dist-medium: 0.3rem;
  --dist-large: 1rem;
}

body {
  font-family: var(--main-font);
  background-color: lch(from var(--sheet-background) calc(l - 0.5) calc(c - 1 ) h);
  color: var(--primary-color);
}

.sheet-group {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 0 !important;
}

.tab-group {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5rem;
  left: -7.25rem;
  z-index: 1000;
  opacity: 0.7;
  transition: transform 0.7s, opacity 0.2s;
}

  .tab-group:hover {
    transform: translateX(7.25rem);
    opacity: 1;
  }

.tab-button {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr;
  padding: 0;
  width: 8rem;
  min-height: 2rem;
  margin: 0;
  margin-bottom: var(--dist-small);
  background: var(--sheet-background);
  color: var(--secondary-color);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

  .tab-button.selected {
    grid-template-columns: 12% 1fr;
    background: var(--accent-color);
    color: var(--primary-color);
    font-weight: bold;
  }

.tab-button-content {
  margin-left: 12%;
}

.tab-button.selected > .tab-button-content {
  margin-left: 0;
}

#tab-close {
  position: relative;
}

#tab-close-hidden {
  display: none;
}

input {
  color: var(--primary-color);
  accent-color: var(--accent-color);
}

textarea {
  color: var(--secondary-color);
}

.layout {
  background-color: var(--sheet-background);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  min-height: 960px !important;
  width: var(--layout-width);
  justify-self: center;
}

button {
  margin: var(--dist-small);
  margin-bottom: var(--dist-large);
  font-family: var(--main-font);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  color: var(--primary-color);
}

.edit-mode {
  position: fixed;
  z-index: 1000;
  left: -2.4rem;
  top: 2rem;
  background-color: lch(from var(--accent-color) calc(l - 50) c h / 0.7);
  height: 2rem;
  width: 3rem;
  color: white;
  border: none;
  border-radius: 4px;
  padding: var(--dist-medium);
  cursor: pointer;
  opacity: 0.75;
  transition: background-color 0.2s, transform 0.7s, opacity 0.2s;
}

  .edit-mode:hover {
    background-color: lch(from var(--accent-color) calc(l - 50) c h);
    transform: translateX(2.4rem);
    opacity: 1;
  }

.add-button, .remove-button, .toolbox-remove, .edit-button {
  font-family: sans-serif;
}

.add-button, .remove-button, .edit-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.8);
  transition: opacity 0.2s, transform 0.2s;
  z-index: 1000;
}

  .add-button:hover, .edit-button:hover, .remove-button:hover, .toolbox-remove:hover {
    opacity: 0.95;
    transform: scale(1.05);
  }

.button-text {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  font-variant-caps: all-petite-caps;
}

.add-button {
  color: #337733;
  background-color: #efffef;
}

.remove-button {
  color: #773333;
  background-color: #ffefef;
}

.edit-button {
  color: #333333;
  background-color: #e9e9e9;
}

#remove-grid-item {
  top: -7px;
  right: -6px;
}

#edit-grid-item {
  top: -7px;
  right: 10px;
}

.grid-item {
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--border-color) !important;
  background: var(--item-background);
  display: inline-flex;
}

.item-content {
  display: grid;
  grid-template-rows: 1.5rem 1fr;
  grid-template-columns: 1fr;
  scrollbar-width: thin;
  width: stretch;
  margin: 0;
  padding: 0;
}

  .item-content input,
  .item-content textarea,
  .item-content h4,
  .item-content p {
    min-width: 0;
    overflow-wrap: anywhere;
    scrollbar-width: thin;
    margin: var(--dist-small);
  }

  .item-content input,
  .item-content h4 {
    text-align: center;
  }

  .item-content hr {
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
    box-shadow: 1px 1px 0px 1px lch(from var(--accent-color) calc(l - 24) calc(c - 50 ) h / 0.5);
  }

.react-resizable {
  height: stretch;
}

textarea {
  font-family: var(--main-font);
  resize: none;
  scrollbar-width: thin;
}

html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.selecto-area .selected {
  outline: 2px dashed var(--accent-color);
}

.moveable-line {
  background: var(--accent-color) !important;
}

.grid-item.selected {
  background-color: lch(from var(--accent-color) l c h / 0.05);
  outline: 2px solid var(--accent-color);
  z-index: 10;
}

.react-grid-item {
  transition: none !important;
}

  /* React Grid Layout specific styles */
  .react-grid-item.react-grid-placeholder {
    background: var(--accent-color);
    opacity: 0.2;
    border-radius: 6px;
  }

  .react-grid-item > .react-resizable-handle {
    right: -2px !important;
    bottom: -2px !important;
    cursor: se-resize;
    opacity: 0.5;
    transition: opacity 0.2s;
  }

    .react-grid-item > .react-resizable-handle:hover {
      opacity: 1;
    }

@import "./Toolbox.css";
@import "./Checkbox.css";
@import "./InputNumber.css";
@import "./TitleCard.css";
@import "./TextField.css";
@import "./TextBox.css";
@import "./AttributeCounter.css";
@import "./StatPool.css";
@import "./TextList.css";
@import "./TextTable.css";
@import "./MathFormula.css";
@import "./ImageDisplay.css";
