/*Remove original input arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*Parent div*/
.custom-number-input {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
}

/*Settings for both arrows*/
.value-control {
  opacity: 0;
  position: absolute;
  justify-self: flex-end;
  text-align: center;
  color: var(--secondary-color);
  padding: var(--dist-small);
  cursor: pointer;
}

.custom-number-input:hover .value-control {
  opacity: 0.6;
  transition: opacity 0.2s;
}

/*Individual settings*/
.value-control-up {
  top: 30%;
  transform: rotate(-90deg) scale(1, -1);
}

.value-control-down {
  top: 50%;
  transform: rotate(90deg);
}

  .value-control-up:hover,
  .value-control-down:hover {
    opacity: 1 !important;
  }
