#text-table {
  border: none;
  border-radius: 0px;
  background: none;
}

#text-table-content {
  margin: 0;
  grid-template-rows: 1.2rem 1fr;
}

#text-table-content-notitle {
  margin: 0;
  grid-template-rows: 1fr;
}

#text-table-table-div {
  overflow: auto;
  scrollbar-width: thin;
  margin: var(--dist-small);
}

#text-table-title {
  font-size: 0.8rem;
  overflow: hidden;
  margin-bottom: 0;
}

#text-table-table {
  border-spacing: 0;
  border: 1px ridge;
  border-color: var(--accent-background);
  border-width: 1px 1px 0 0;
  background-color: lch(from var(--item-background) calc(l - 4) c h);
}

#text-table-header {
  background-color: lch(from var(--item-background) calc(l - 8) c h);
}

#text-table-body .react-resizable-handle {
  height: 140%;
  width: 10%;
  padding: 0;
  top: 10% !important;
  opacity: 0;
  transform: rotate(0);
}

#text-table-cell {
  height: 3rem;
  border: 1px ridge;
  border-color: var(--accent-background);
  border-width: 0 0 1px 1px;
  box-shadow: inset -2px 2px 5px 0px rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0;
}

#text-table-cell-headcontent,
#text-table-cell-content,
#text-table-cell-content-on-edit {
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  width: stretch;
}

#text-table-cell-content-on-edit {
  grid-template-columns: 1fr 20px;
}

#text-table-header-input,
#text-table-cell-data {
  margin: 0;
  padding: 0;
  padding-left: var(--accent-background);
  min-width: 0;
  width: stretch;
  border: none;
  background: none;
  align-content: center;
}

#text-table-header-input {
  font-weight: bold;
}

#text-table-remove-col,
#text-table-remove-row {
  position: relative;
}

#text-table-add-row,
#text-table-add-column {
  position: relative;
}

#buttons-case {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: end;
  z-index: 1000;
}
