#text-box {
}

#text-box-content,
#text-box-content-notitle {
  overflow: auto;
}

#text-box-data:disabled {
  background: none;
  border: hidden;
}

#text-box-content-notitle {
  grid-template-rows: 1fr;
}
