#text-field {
}

#text-field-content,
#text-field-content-notitle{
  margin: 0;
  align-content: center;
  grid-template-rows: auto;
  grid-template-columns: minmax(2.2rem,25%) 1fr;
  grid-template-rows: 1fr;
}

  #text-field-content > h4 {
    overflow: hidden;
    align-self: center;
  }

#text-field-content-notitle {
  grid-template-columns: 1fr;
}

#text-field-title,
#text-field-input {
  margin: var(--dist-small) 0 var(--dist-small) 0;
}

#text-field-title {
  font-weight: bold;
  border: hidden;
  border-radius: 4px;
}

#text-field-input {
  border: hidden;
  border-radius: 0px;
  border-bottom: 1px ridge;
  border-color: var(--accent-background);
  background: none;
}
