#text-list {
  border: hidden;
  border-radius: 0px;
  background: none;
}

#text-list-content {
  margin: 0;
  grid-template-rows: 1.2rem 1fr;
}

#text-list-content-notitle {
  margin: 0;
  grid-template-rows: 1fr;
}

#text-list-title {
  font-size: 0.8rem;
  overflow: hidden;
  margin-bottom: 0;
}

#text-list-unordered-list {
  min-width: 0;
  width: stretch;
  margin: var(--dist-small) auto var(--dist-small) auto;
  padding: 0 0.05rem 0 var(--dist-small);
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  overflow: auto;
  scrollbar-width: thin;
}

#text-list-item {
  min-width: 0;
  min-height: 1.8rem;
  display: grid;
  grid-template-columns: 1fr 0.1rem;
}

#text-list-item-data {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset -2px 2px 5px 0px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  min-height: 1.2rem;
  border-width: 0 0 1px 1px;
  overflow: auto;
}

.text-list-add-item-area {
  max-height: 1.8rem;
  margin: 0 var(--dist-medium) 0 var(--dist-medium) !important;
}

#text-list-item-remove {
  position: relative;
  align-self: center;
  justify-self: end;
  top: initial;
  right: initial;
}
