#text-box {
}

#text-box-content,
#text-box-content-notitle {
  overflow: auto;
}

  #text-box-content input[type=number],
  #text-box-content-notitle input[type=number],
  #text-box-data:disabled,
  .text-box-unlocked {
    background: none;
    border: hidden;
  }

  #text-box-content-notitle {
    grid-template-rows: 1fr;
  }
