#title-card {
  border: hidden;
  border-radius: 0px;
  border-bottom: 3px solid;
  border-color: lch(from var(--border-color) calc(l - 5) c h / 1) !important;
  background: none;
}

#title-card-content {
  align-self: center;
  grid-template-rows: auto;
}

  #title-card-content > h4, input {
    font-family: var(--main-font);
    align-self: center;
    overflow: hidden;
    height: stretch;
    font-weight: bold;
  }

  #title-card-content > input {
    border: hidden;
    background: none;
  }
