#title-card {
  border: hidden;
  border-radius: 0px;
  border-bottom: 3px ridge #555555;
  background: none;
}

#title-card-content {
  margin: 0;
  align-self: center;
  grid-template-rows: auto;
}

  #title-card-content > h4, input {
    font-family: var(--main-font);
    align-self: center;
    overflow: hidden;
    height: stretch;
    font-weight: bold;
  }

  #title-card-content > input {
    border: hidden;
    background: none;
  }
