.App {
  font-family: sans-serif;
  text-align: center;
}

.layout {
  height: fit-content;
}

.add-button {
  margin-bottom: 1em;
}

.remove-button {
  position: absolute;
  right: 5px;
  border-radius: 50%;
  padding: 0.1em;
  cursor: pointer;
  font-weight: bold;
}

.grid-item {
  margin: auto;
  border: 1px solid #000;
  position: relative;
  background: #ddd;
}

.toolbox{
  background-color:#eee;
}

.toolbox__items {
  display: flex;
}

.toolbox__items__item{
  padding: 0.4em;
  margin: 0.6em;
  border: 1px solid #000;
  width: 10em;
}

.toolbox__items__item > button{
  position: relative;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}

.item-content {
  margin: 2px;
  padding: 3px;
}