.App {
  font-family: sans-serif;
  text-align: center;
}

.layout {
  height: fit-content;
}

.add-button {
  margin-bottom: 1em;
}

.remove-button {
  position: absolute;
  right: -9px;
  top: -9px;
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  background-color: #fee;
}

.grid-item {
  margin: auto;
  border: 1px solid #000;
  background: #ddd;
  display: inline-flex;
}

.item-content{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  margin: 2px;
  padding: 3px;
}

.item-content > input, textarea, h4, p{
  width: 100%;
  /* height: 70%; */
}

/* .item-content > input, h4{
  height: 15%;
} */

.toolbox{
  background-color:#eee;
  margin: 1em;
  padding: auto;
  padding-left: 0.2em;
}

.toolbox__items {
  display: flex;
}

.toolbox__items__item{
  padding: 0.4em;
  margin: 0.6em;
  border: 1px solid #000;
  width: 10em;
  display: flex;
}

.toolbox-label{
  min-width: 90%;
}

.toolbox-remove{
  margin: 0.3em;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
}